<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and Rotation</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Rotate Your Image</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="custom-upload">
                <label for="file-upload" class="upload-box">
                    <i class="fas fa-folder"></i>
                    <span>Pilih Gambar</span>
                </label>
                <input type="file" id="file-upload" name="image" accept="image/*" required>
                <p id="file-name" class="upload-hint">Format yang didukung: JPG dan PNG</p>
            </div>

            <label for="degrees">Tulis derajat rotasi (degrees):</label>
            <input type="number" id="degrees" name="degrees" placeholder="e.g., 90" required>

            <button type="submit">Rotate</button>
        </form>

        {% if original_image and rotated_image %}
        <div class="output">
            <h2>Hasil Rotasi:</h2>
            <div class="images-container">
                <div class="image-block">
                    <h3>Gambar Asli:</h3>
                    <img src="{{ original_image }}" alt="Gambar Asli">
                </div>
                <div class="image-block">
                    <h3>Gambar Hasil Rotasi:</h3>
                    <img src="{{ rotated_image }}" alt="Gambar Hasil Rotasi">
                </div>
            </div>

            <!-- download gambar -->
            <a href="{{ rotated_image }}" download="rotated_image.png" class="download-button">Download Hasil Rotasi</a>

            <!-- Tombol hapus gambar -->
            <form action="/delete" method="post">
                <input type="hidden" name="original_image" value="{{ original_image }}">
                <input type="hidden" name="rotated_image" value="{{ rotated_image }}">
                <button type="submit" class="delete-button">Hapus Semua Gambar</button>
            </form>
        </div>
        {% endif %}
    </div>

    <script src="/static/script.js"></script>

</body>
</html>
